# List Comprehensions  Tutorial
* Academind Youtube: https://www.youtube.com/watch?v=E1ZAVEmRwyI
* Article: https://www.youtube.com/redirect?v=E1ZAVEmRwyI&event=video_description&redir_token=HbVwKXUB2KRsTfrRJ2VFN84BWVl8MTU4NjgwMzk3NUAxNTg2NzE3NTc1&q=https%3A%2F%2Facademind.com%2Flearn%2Fpython%2Flist-comprehensions%2F

https://academind.com/learn/python/list-comprehensions/
https://www.youtube.com/c/Academind/search?query=Comprehensions
Manuel Lorenz

### List Comprehensions 
* Manipulating List Items
* Extracting Information
* Filtering List

In [1]:
# multiply each item in the list by 2
my_list = [1,2,3]

x = my_list * 2
x

[1, 2, 3, 1, 2, 3]

In [3]:
# Above action does not work. It simply created a new list contain the original values twice

double = []

for item in my_list:
    z = item * 2
    double.append(z)
    
double

[2, 4, 6]

In [4]:

double = []

for item in my_list:
    double.append(item * 2)
    
double

[2, 4, 6]

In [5]:
# creating a list comprehension

my_list = [2,3,4]
double2 = [item*2 for item in my_list]
double2

[4, 6, 8]

In [6]:
users = [{'name':'Manuel', 'age':31},{'name':'Max','age':30},{'name':'Dereck','age':38}]
user_name =[user['name'] for user in users]
user_name

['Manuel', 'Max', 'Dereck']

# Filtering
* create a filter by adding a conditional after the for loop

In [12]:
users = [{'name':'Manuel', 'age':31},{'name':'Max','age':30},{'name':'Dereck','age':38}]
user_name =[user['name'] for user in users if user['age'] > 30 and user['name'] == 'Dereck']
user_name

['Dereck']

# nested list comprehensions

In [15]:
user_groups = [
    [
        {'name':'Manuel', 'age':31},
        {'name':'Max','age':30} 
    ],
    [
        {'name':'Sarah', 'age':41},
        {'name':'Mary','age':40}
    ]]

user_name = [person['name'] for group in user_groups for person in group if person['age'] ==31 or person['age'] ==41]
user_name

['Manuel', 'Sarah']