In [19]:
user_names_list1 = ['Manuel']

user_names_tuple1 = ('Manuel')   #  <--- Note () are not enough to create Tuple without comma shown below)
user_names_tuple2 = 'Manuel',    #  <--- Note creation of tuple without () and the comma after 'Manuel'
user_names_tuple3 = ('Manuel',)  #  <--- Note the comma after 'Manuel'

print(type(user_names_list1))
print('\n')
print(type(user_names_tuple1))
print(type(user_names_tuple2))
print(type(user_names_tuple3))

<class 'list'>


<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [20]:
print(user_names_list1)
print(user_names_tuple1)
print(user_names_tuple2)
print(user_names_tuple3)

['Manuel']
Manuel
('Manuel',)
('Manuel',)

In [45]:
user_names_list2 = ['Manuel', 'Max', 'James', 'Harry']

user_names_tuple4 = ('Manuel', 'Max', 'James', 'Harry')   #  <--- Note () are not enough to create Tuple without comma shown below)
user_names_tuple5 = 'Manuel', 'Max', 'James', 'Harry'    #  <--- Note creation of tuple without () and the comma after 'Manuel'
user_names_tuple6 = ('Manuel', 'Max', 'James', 'Harry')  #  <--- Note the comma after 'Manuel'

print(type(user_names_list2))
print('\n')
print(type(user_names_tuple4))
print(type(user_names_tuple5))
print(type(user_names_tuple6))

<class 'list'>


<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [46]:
print(user_names_list2)
print(user_names_tuple4)
print(user_names_tuple5)
print(user_names_tuple6)

['Manuel', 'Max', 'James', 'Harry']
('Manuel', 'Max', 'James', 'Harry')
('Manuel', 'Max', 'James', 'Harry')
('Manuel', 'Max', 'James', 'Harry')

In [47]:
# selecting elements by index
print(user_names_list2[3])
print(user_names_tuple4[3])
print(user_names_tuple5[3])
print(user_names_tuple6[3])

Harry
Harry
Harry
Harry

In [48]:
# slicing for a selection
print(user_names_list2[1:3])
print(user_names_tuple4[1:3])
print(user_names_tuple5[1:3])
print(user_names_tuple6[1:3])

['Max', 'James']
('Max', 'James')
('Max', 'James')
('Max', 'James')

In [49]:
# changing elements in a list and tuple
user_names_list2[1:3]='Larry','Bob'
user_names_tuple4[1]='Larry'

TypeError: 'tuple' object does not support item assignment

In [50]:
user_names_list2.

['Manuel', 'Larry', 'Bob', 'Harry']

In [55]:
user_names_tuple4

('Manuel', 'Max', 'James', 'Harry')

In [54]:
user_names_list2.append('Sammy')
user_names_list2

['Manuel', 'Larry', 'Bob', 'Harry', 'Sammy']

In [57]:
user_names_tuple4.count('Manuel')

1

In [58]:
user_names_tuple4.index('Manuel')

0

# Tuple unpacking and Multiple Variable Assignment

In [86]:
user_data = ('Manuel', 31, 'Male', 5, 8, 'Brown', 'Married', 'something_else', 'something_else2', 8, 9)
print(user_data[0])

Manuel

In [87]:
name = user_data[0]
name

'Manuel'

In [88]:
# assign all the elements in the TUPLE user_data to individual variables

name, age, gender, height_ft, height_in, Hair_color, Marital_status, *other_stuff = user_data

In [89]:
print (name, age, gender, height_ft, height_in, Hair_color, Marital_status, other_stuff)
print (height_in)
print (Marital_status)
print (other_stuff)

Manuel 31 Male 5 8 Brown Married ['something_else', 'something_else2', 8, 9]
8
Married
['something_else', 'something_else2', 8, 9]

In [90]:
f"The candidate's name is {name}. He is {age} years old and has {Hair_color} hair. He is also \
{Marital_status} and stands {height_ft} feet {height_in} inches tall."
# f"The \"comedian\" is {name}, aged {age}."

"The candidate's name is Manuel. He is 31 years old and has Brown hair. He is also Married and stands 5 feet 8 inches tall."

# you can use multiple variable assignment on lists as well as tuples

In [91]:

user_names_list2 = ['Manuel', 'Max', 'James', 'Harry', 'Sally', 'Beth', 'Holly']
first, second, third, fourth, *other = user_names_list2
print(first)
print(second)
print(first, second, third, fourth)
print(other)

Manuel
Max
Manuel Max James Harry
['Sally', 'Beth', 'Holly']

In [92]:
def get_user_data():
    user_email = input ('Enter your email: ')
    user_password = input('Enter your password')
    
    return (user_email, user_password)

signup_data = get_user_data()
print (signup_data)

Enter your email: kenneth.nbt@gmail.com
Enter your password123
('kenneth.nbt@gmail.com', '123')